<head>
  <style>
    p.White {
      color: white;
      font-size: 20px;
    }

    h1.White {
      color: white;
      font-size: 25px;
    }
  </style>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />

  <title>C</title>

  <!-- Meta tags for SEO and social sharing -->
  <link rel="canonical" href="https://glitch-hello-website.glitch.me/" />
  <meta
    name="description"
    content="A simple website, built with Glitch. Remix it to get your own."
  />
  <meta name="robots" content="index,follow" />
  <meta property="og:title" content="Hello World!" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://glitch-hello-website.glitch.me/" />
  <meta
    property="og:description"
    content="A simple website, built with Glitch. Remix it to get your own."
  />
  <meta
    property="og:image"
    content="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2Fhello-website-social.png?v=1616712748147"
  />
  <meta name="twitter:card" content="summary" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: Black">
  <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
    <button
      type="button"
      class="navbar-toggle"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            C
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/C">What it is</a>
            <a class="dropdown-item" href="/mario">Mario</a>
            <a class="dropdown-item" href="/caesar">Caesar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown2"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            HTML
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/hypertext">What it is</a>
            <a class="dropdown-item" href="/css"
              >Cascading Style Sheets (CSS)</a
            >
            <a class="dropdown-item" href="/Bootstrap">Bootstrap</a>
            <a class="dropdown-item" href="/publishing"
              >Publishing and Heroku</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Gits
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" href="/gitworks"
              >How it works + Commands</a
            >
            <a class="dropdown-item" href="/github">Github</a>
            <a class="dropdown-item" href="/merges"
              >Merges and merge conflicts</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown4"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Flutter
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="/flutter">What it is</a>
              <a class="dropdown-item" href="/micard">MiCard</a>
              <a class="dropdown-item" href="/gitpages">Github Pages</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Text</h1>
  <h1 class="white" style="text-align: center"><u>What is C?</u></h1>
  <br />
  <div class="container">
    <div class="sameline">
      <div class="sameline pull-right" style="vertical-align: top">
        <a
          href="https://gist.github.com/CKremer26/cbe3b5319dbbf58ca8ac88265a99fe37"
        >
          <img
            src="https://cdn.glitch.global/91b8a39c-b2da-43aa-aac1-c6ba51a3f9ce/Hello.jpeg?v=1652375084992"
            width="500"
            alt="image with some code on it"
            style="margin-left: 40px"
          />
        </a>
      </div>
      <p class="white">
        C is a rather old coding language used to code programs to tell them
        what to do. What is a coding language you may ask? A coding language is
        a language that is used by people that tells a computer what to do. C is
        one of the most basic coding languages there are.
      </p>
      <br />
      <h1 class="white"><u>IDE</u></h1>
      <p class="white">
        IDE stands for <b>I</b>ntegrated <b>D</b>evelopment <b>E</b>nvironment.
        Basically, it is a software that holds directories, files, and our code.
        It also consists of a terminal, which is how we navigate our directories
        and run programs. I am using the
        <a href="https://ide.cs50.io/">CS50 IDE</a>.
      </p>
      <br />
      <h1 class="white">
        <u>Source Code vs. Machine Code</u>
      </h1>
      <p class="white">
        <b>Source code</b> is the written code that you see on the right.
        Depending on the language you use there will be different syntax. The
        purpose of source code is so that humans can understand it.
        <b>Machine code,</b>
        on the other hand, is code that the computer can understand, and is
        composed of binary (1s and 0s). Therefore, it is essential to have a
        compiler that will translate the source code to machine code. In the
        terminal this can be done with the "make" command.
      </p>
      <br />
      <h1 class="white">
        <u>Podcast</u>
      </h1>
      <p class="white">
        Below is a video podcast that I made that discusses the program of a
        project that I made called <a href="/caesar">Caesar.</a> It also goes
        over many of the components of C and basic computer programming, going
        over things such as variables, functions, and more. In the video, the
        IDE I am using is <a href="https://code.cs50.io/">VS Code</a>.
      </p>
      <video width="800" controls>
        <source
          src="https://cdn.glitch.me/91b8a39c-b2da-43aa-aac1-c6ba51a3f9ce/Caesar%20Podcast%20%E2%80%90%20Made%20with%20Clipchamp%20(1).mp4?v=1652459649213"
        />
      </video>
      <br />
      <h1 class="white">
        <u>Projects</u>
      </h1>
      <ul style="color: white; font-size: 20px">
        <li>
          <a href="/mario">Mario.</a> A program which takes an input from the
          user and prints a number of hashes in the form of a right-aligned
          pyramid.
        </li>
        <li>
          <a href="/caesar">Caesar.</a> A program which takes a key number and
          text from the user and outputs the same text, but encyrpted, depending
          on the key inputted.
        </li>
      </ul>
    </div>
  </div>
</body>
