<head>
  <style>
    p.paragraph {
      font-size: 20px;
    }

    h1.header {
      font-size: 25px;
    }
  </style>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />

  <title>MiCard</title>

  <!-- Meta tags for SEO and social sharing -->
  <link rel="canonical" href="https://glitch-hello-website.glitch.me/" />
  <meta
    name="description"
    content="A simple website, built with Glitch. Remix it to get your own."
  />
  <meta name="robots" content="index,follow" />
  <meta property="og:title" content="Hello World!" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://glitch-hello-website.glitch.me/" />
  <meta
    property="og:description"
    content="A simple website, built with Glitch. Remix it to get your own."
  />
  <meta
    property="og:image"
    content="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2Fhello-website-social.png?v=1616712748147"
  />
  <meta name="twitter:card" content="summary" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: LightSkyBlue">
  <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
    <button
      type="button"
      class="navbar-toggle"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            C
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/C">What it is</a>
            <a class="dropdown-item" href="/mario">Mario</a>
            <a class="dropdown-item" href="/caesar">Caesar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown2"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            HTML
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/hypertext">What it is</a>
            <a class="dropdown-item" href="/css"
              >Cascading Style Sheets (CSS)</a
            >
            <a class="dropdown-item" href="/Bootstrap">Bootstrap</a>
            <a class="dropdown-item" href="/publishing"
              >Publishing and Heroku</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Gits
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" href="/gitworks"
              >How it works + Commands</a
            >
            <a class="dropdown-item" href="/github">Github</a>
            <a class="dropdown-item" href="/merges"
              >Merges and merge conflicts</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown4"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Flutter
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/flutter">What it is</a>
            <a class="dropdown-item" href="/micard">MiCard</a>
            <a class="dropdown-item" href="/gitpages">Github Pages</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <h1>Text</h1>
  </div>
  <h1 style="text-align: center"><u> MiCard </u></h1>
  <br />
  <div class="container">
    <div class="sameline">
      <div class="sameline pull-right" style="vertical-align: top">
        <img
          src="https://cdn.glitch.global/91b8a39c-b2da-43aa-aac1-c6ba51a3f9ce/MiCard2.png?v=1655402403717"
          width="400"
          height="500"
          alt="Business Card Screenshot"
          style="margin-left: 40px"
        />
      </div>
      <p class="paragraph">
        On the right is the final product of the project MiCard. MiCard was
        essentialy a business card that was made in Flutter. It uses a series of
        rows, columns, and containers to build what you see. Although you can't
        see it in this image, there is also a button on the lower right that
        takes the user to an about me page. This project was uploaded on <a href="/gitpages">GitHub Pages</a>
      </p>
      <h1 class="header">
        <u>Pseudocode</u>
      </h1>
      <p class="paragraph">
        Create an app that displays a circle avatar image, your name, your
        position, your phone number, and your email all stacked on top of each
        other. Create a second page with a working button.
      </p>
      <h1 class="header">
        <u>Challenges</u>
      </h1>
      <p class="paragraph">
        The first challenge I had with this project was stretching the white
        rectangles across the screen without an overflow error. I resolved this
        by putting colored containers in rows instead of by themselves.
      </p>
      <p class="paragraph">
        The main issue that I had making this project was getting the button to
        a second page to work. The issue at first was it couldn't grab the
        context as the code was in the wrong spot. Then, the second issue was
        the button simply wouldn't work and would output a navigation error. The
        problem was resolved by creating a new class called MyHomePage in a
        stateful widget.
      </p>
      <h1 class="header">
        <u>Code</u>
      </h1>
      <p class="paragraph">
        Main page:
      </p>
      <script src="https://gist.github.com/CKremer26/5386039e8e999a5f45e2595a6ad7c2dc.js"></script>
      <p class="paragraph">
        Second page:
      </p>
      <script src="https://gist.github.com/CKremer26/ca1326af26faf9a5c404c681eefbbbae.js"></script>
    </div>
  </div>
</body>
1